body {
  min-width: calc(320rem / 16);
  padding: 40px 0 80px 0;
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top -180px right -200px;
  color: var(--black);
  font-family: "IBM Plex Sans", sans-serif;
  min-width: calc(320rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer,
.hero-section {
  padding-inline: 24px;
}

.corner-decor-img {
  display: none;
}

main {
  max-width: calc(1110rem / 16);
}

h1 {
  font-size: calc(40rem / 16);
  line-height: calc(53rem / 16);
  letter-spacing: calc(-1rem / 16);
  margin: 64px 0 20px 0;
}

p {
  font-size: calc(16rem / 16);
  line-height: calc(26rem / 16);
}

.download-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(68rem / 16) 0 calc(64rem / 16) 0;
  position: relative;
}

.download-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  width: 100%;
  height: calc(100% - 98px);
  z-index: -999;
  border-radius: calc(20rem / 16);
  background-image: url(./assets/bg-pattern-2.svg);
  background-size: calc(280rem / 16) calc(420rem / 16);
  background-repeat: no-repeat;
  background-position: top 0 center;
}

.phone-img {
  width: calc(200rem / 16);
  margin-block-end: 48px;
}

.download-info {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  padding: 48px 36px;
  border-radius: calc(20rem / 16);
  color: var(--white);
}

h2 {
  font-size: calc(40rem / 16);
  line-height: calc(52rem / 16);
}

.download-info p:nth-child(2) {
  font-size: calc(16rem / 16);
  line-height: calc(26rem / 16);
  margin: 12px 0 36px 0;
}

.price {
  display: flex;
  align-items: center;
}

.price span:first-child {
  font-size: calc(65rem / 16);
  line-height: calc(52rem / 16);
  font-weight: 700;
  margin-inline-end: calc(16rem / 16);
}

.price span:last-child {
  font-size: calc(20rem / 16);
  line-height: calc(32rem / 16);
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: calc(10rem / 16);
  font-weight: 700;
}

.ios-button {
  margin: 32px 0 16px 0;
  color: var(--white);
  background-color: var(--black);
}

.ios-button:active {
  background-color: var(--cyan);
}

.android-button:active {
  background-color: var(--light-orange);
}

button img {
  margin-inline-end: calc(8rem / 16);
}

footer p {
  margin: 32px 0 64px 0;
}

footer div {
  display: flex;
}

.footer-info {
  flex-direction: column;
}

a:nth-child(2) {
  margin: 0 calc(20rem / 16);
}

@media (min-width: calc(500rem / 16)) {
  body {
    padding: 40px 33px 80px 33px;
  }

  header,
  footer,
  .hero-section {
    padding-inline: 0;
  }
}

@media (min-width: calc(650rem / 16)) {
  body {
    background-image: url(./assets/bg-main-tablet.png);
    background-position: top -300px center;
    position: relative;
  }

  .corner-decor-img {
    position: absolute;
    display: block;
    width: calc(265rem / 16);
    top: calc(-32rem / 16);
    right: calc(-35rem / 16);
  }

  .hero-section {
    max-width: calc(100% - 230rem / 16);
  }

  h1 {
    font-size: calc(64rem / 16);
    line-height: 1;
  }

  .download-section {
    flex-direction: row;
    position: relative;
    height: calc(600rem / 16);
    background-color: var(--black);
    border-radius: calc(20rem / 16);
    background-image: url(./assets/bg-pattern-2.svg);
    background-size: calc(280rem / 16) calc(420rem / 16);
    background-repeat: no-repeat;
    background-position: top 0 center;
    margin-block: calc(250rem / 16) calc(180rem / 16);
  }

  .download-section::after {
    display: none;
  }

  .phone-img {
    width: calc(270rem / 16);
    position: absolute;
    top: calc(-138rem / 16);
    left: calc(60rem / 16);
  }

  .download-info {
    width: calc(400rem / 16);
    position: absolute;
    bottom: calc(-96rem / 16);
    right: calc(60rem / 16);
  }

  .footer-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-info p {
    flex-basis: 60%;
  }
}

@media (min-width: calc(1024rem / 16)) {
  body {
    position: unset;
    background-image: url("./assets/bg-main-desktop.png");
  }

  main {
    position: relative;
  }

  .corner-decor-img {
    top: calc(-72rem / 16);
    right: 0;
  }

  .hero-section {
    max-width: calc(100% - 270px);
  }

  h1 {
    font-size: calc(88rem / 16);
    line-height: 1;
    margin-block: 127px 40px;
  }

  .hero-section p {
    font-size: calc(20rem / 16);
    line-height: calc(34rem / 16);
  }

  .download-section {
    margin-block: calc(320rem / 16) calc(200rem / 16);
  }

  .download-section p:nth-child(2) {
    font-size: calc(20rem / 16);
    line-height: calc(32rem / 16);
  }

  .phone-img {
    width: calc(310rem / 16);
    top: calc(-210rem / 16);
    left: calc(100rem / 16);
  }

  .download-info {
    width: calc(420rem / 16);
    bottom: calc(-115rem / 16);
    right: calc(90rem / 16);
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer > img {
    width: calc(146rem / 16);
    height: calc(32rem / 16);
  }

  footer p {
    margin: 0;
  }
}

@media (pointer: fine) {
  button {
    cursor: pointer;
  }

  .ios-button:hover {
    background-color: var(--cyan);
  }

  .android-button:hover {
    background-color: var(--light-orange);
  }
}

:root {
  --cyan: #66e2dc;
  --orange: #fa7453;
  --light-orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}
